* {
    margin: 0px;
    padding: 0;
    font-family:maven pro;
}

:root {
    --purple: rgb(130, 130, 228);
}
.sec2{
    background-color: rgb(255, 225, 254);
    border-radius: 10px;
    margin: 3% 8%;
    padding: 50px 100px;
}

.dark-mode-toggle label{
    color: #ffffff;
    font-size: 20px;
}
.ds1{
    position: absolute;
    right: 0;
    width: 250px;
}
.ds2{
    position: absolute;
    left: 0;
    width: 250px;
}
.ds3{
    position: absolute;
    z-index: 300;
    width: 400px;
    left: 0;
    top: 670px;
}
.viewmore{
    margin-top: 100px;
}
.ds4{
    position: absolute;
    top: 1500px;
    right: 0;
    width: 400px;
}
.ds5{
    position: absolute;
    left: 0;
    width: 350px;
}
.pimg img{
    width: 70%;
}
.row{
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0;
}
.row img{
    width: 350px;
}
.viewmore a{
    background-color: rgb(255, 3, 247);
    font-weight: 600;
    font-size: 25px;
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    height: 40px;
}
.skill .s1{
    display: flex;
}
.skill .s2{
    display: flex;
}
.skill .s1 div{
    margin: 0 20px;
}
.skill .s2 div{
    margin: 0 20px;
}
.skill{
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    margin-bottom: 30px;
}
.toggle-button{
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
}

.bar{
    width: 35px;
    height: 5px;
    border-radius: 2px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;
}
#arrow1{
    width: 350px;
    margin-left: 20px;
}
.skill span{
    margin-right: 10px;
}

.sec2 h1{
    font-size: 4.5em;
    font-weight: 100;
    padding: 30px 0;
    margin-bottom: 50px;
}
.arr2{
    height: 75px;
}
.sec2 p{
    padding-top: 10px;
    font-size: 25px;
    margin-bottom: 20px;
}
.sec2 a{
    text-decoration: none;
    color: white;
}
.sec2 li{
    font-size: 30px;
}
.sec2 a:hover{
    text-decoration: underline;
}
.sec2 h1 span{
    color: rgb(186, 0, 180);
    margin-left: 20px;
}
.pimg h1{
    font-size: 50px;
}

.abdata{
    display: flex;
}
.abimg img{
    border-radius: 50%;
    height: 500px;
    margin: 0 50px;
    border: 7px solid rgb(180, 0, 174);
    box-shadow: -30px 0px 0 4px rgb(112, 0, 108);
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(180, 0, 174);
    width: 100%;
    height: 100px;
    padding-top: 20px;
    position: fixed;
    top: 0;
    z-index: 1000;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    margin: 0px 10px;
    font-size: 25px;
}

nav li a:hover {
    background-color: rgb(118, 0, 114);
    border-radius: 10px;
}

.top .logo {
    font-family: edwardian script itc !important;
    font-weight: 800;
    font-size: 55px;
    color: white;
    margin: 0 30px;
}

nav li {
    display: inline;
}
.active{
    background-color: rgb(255, 3, 247);
}
nav ul {
    list-style: none;
    margin: 0 30px;
}

.firstsec {
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 225, 254);
    height: 600px;
    z-index: 400;
    padding-top: 100px;
}
.navigation nav{
    width: 100%;
    display: flex;
    align-items: center;
}
.firstsec img {
    width: 590px;
    padding: 25px 1px;
}
#text{
    color:rgb(180, 0, 174) ;
}
.firstsec .left{
    font-size: 80px;
    width: 500px;
}
.firstsec .right{
    font-size: 50px;
    width: 600px;
}

.mainsec{
    margin: 70px 20%;
    padding: 20px;
    background-color: rgb(247, 238, 255);
    border-radius: 7px;
}
.mainsec h1{
    font-size: 40px;
    color:rgb(180, 0, 174) ;
    margin-bottom: 30px;
}
.mainsec p{
    font-size: 25px;
    margin: 20px 0;
}
/* Default styles for light mode */
body {
    background-color: #ffffff;
    color: #333333;
}

.toggle{
    display: none;
}
.toggle button span{
    font-size: 30px;
    color: #ffffff;
}
/* Dark mode styles */
body.dark-mode {
    background-color: #333333;
    color: #ffffff;
}
body.dark-mode{
    background-image: linear-gradient(to bottom right,black,rgb(43, 0, 62),rgb(180, 0, 174),rgb(0, 5, 45),black,rgb(0, 5, 45),rgb(0, 202, 202),rgb(0, 5, 45),black);

}
.toggle-close{
    display: none;
}
body.dark-mode .sec2{
    background-color: rgb(0, 3, 28);
    /* background: transparent; */
}
/* Add dark mode styles for other elements as needed */

body.dark-mode .firstsec{
    background: rgb(0, 3, 28);
    /* background: transparent; */
}

body.dark-mode .top{
    background: rgb(0, 1, 15);
    /* background: transparent; */
}
.ds6{
    position: absolute;
    width: 400px;
    left: -200px;
    
}

body.dark-mode .sec2 h1 span{
    color: #ffffff;
}
.participation{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
}
.participation img{
    width: 100%;
}
.domain{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3em;
}
.domain img{
    width: 80%;
    margin: auto;
}
@media screen and (max-width:1350px){
    nav ul li a {
        text-decoration: none;
        color: white;
        padding: 10px 20px;
        margin: 0px 8px;
        font-size: 20px;
    }
    .skill{
        flex-direction: column;
    }
    .s1{
        width: 100%;
        justify-content: space-evenly;
    }
    .s2{
        width: 100%;
        justify-content: space-evenly;
    }
    .skill-tag{
        width: 100px;
    }
    .row{
        flex-wrap: wrap;
    }
    .arr2{
        display: none;
    }
    #arrow1{
        display: none;
    }
}
@media screen and (max-width:1100px){
    .pdata p{
        font-size: 20px;
        width: 100%;
    }
    .abdata{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #not-in-mobile{
        display: none;
    }
}
@media screen and (max-width:1015px){
    .navigation nav{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 110vw;
        height: 106vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* background-color: rgb(255, 3, 247); */
        /* z-index: 1000000; */
        background-color: rgb(0, 0, 0, 0.9);
    }
    .ds1, .ds2, .ds3, .ds4, .ds5, .ds6{
        display: none;
    }
    .navigation nav ul li a{
        font-size: 30px;
        padding: 20px 0;
        margin: 0;
    }
    .navigation nav ul li a:hover{
        background-color: rgb(1, 8, 61);
        padding: 3px;
    }
    .hidden{
        display: none;
    }
    .navigation nav ul{
        height: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .toggle-close{
        display: block;
        background-color: transparent;
        border: none;
        outline: none;
        position: absolute;
        top: 10%;
        right: 10%;
    }
    .dark-mode-toggle{
        margin-bottom: 30px;
    }
    .not-in-mobile{
        display: none;
    }
    .bar1{
        width: 40px;
        height: 3px;
        background-color: #ffffff;
        border-radius: 3px;
        margin-bottom: 6px;
    }
    .bar2{
        margin-bottom: 6px;
        width: 40px;
        height: 3px;
        background-color: #ffffff;
        border-radius: 3px;
        /* transform: rotate(45deg)  translate(-2px, 0px) ; */
    }
    .toggle-close:hover .bar1{
        margin: 0;
        transition: 0.5s;
        transform: rotate(-45deg) translate(-2px, 0px) ;
    }
    .toggle-close:hover .bar2{
        transition: 0.5s;
        margin: 0;
        transform: rotate(45deg) translate(-2px, 0px) ;
    }
    .toggle-button{
        display: block;
        margin-right: 50px;
    }
    .top{
        justify-content: space-between;
        width: 1;
    }
    
    .ds3{
        display: none;
    }
    .firstsec{
        flex-direction: column;
        height: 100%;
    }
    .firstsec .left{
        /* order: 1; */
        height: 500px;
        margin-top: 100px;
    }
}
@media screen and (max-width: 800px){
    /* .svg-lines{
        width: 100%;
    }
    .s1 .skill-tag{
        width: 110px;
        margin: 0;
    } */
    /* .s1 div{
        margin: 0 10px;
    } */
    .sec2{
        padding: 30px;
    }
    .svg-lines{
        width: 100%;
        margin: 0!important;
    }
}
@media screen and (max-width:550px){
    .sec2{
        margin: 3% 5%;
    }
    .sec2 h1{
        font-size: 3.5em;
    }
    .sec2 p{
        font-size: 20px;
    }
    .sec2 li{
        font-size: 25px;
    }
    .sec2 a{
        font-size: 20px;
    }
    .sec2 a:hover{
        text-decoration: none;
    }
    .sec2 h1 span{
        margin-left: 10px;
    }
    .firstsec .left{
        font-size: 60px;
        width: 400px;
        height: 300px;
    }
    .firstsec .right{
        font-size: 40px;
        width: 400px;
    }
    .firstsec img{
        width: 400px;
    }
    .abimg img{
        height: 400px;
    }
    .abimg{
        margin: 0;
    }
    .abdata{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .abdata p{
        font-size: 20px;
    }
    .abdata h1{
        font-size: 40px;
    }
    .abdata h1 span{
        font-size: 40px;
    }
    .abdata h1 span{
        margin-left: 10px;
    }
    .abdata h1{
        margin-bottom: 20px;
    }
    .abdata p{
        margin-bottom: 20px;
    }
    .abdata{
        margin-bottom: 50px;
    }
    .abdata{
        margin-bottom: 50px;
    }
    .abdata{
        margin-bottom: 50px;
    }
    .abdata{
        margin-bottom: 50px;
    }
    /* .skill-tag{
        font-size: 25px;
    }
    .s1 div{
        margin: 0 10px;
        margin-bottom: 20px;
    } */
    .erase{
        display: none;
    }
    .row img{
        width: 80%;
    }
    .skill-tag{
        margin-left: 0!important;
    }
    .svg-lines{
        margin: 0!important;
    }
}
@media screen and (max-width:400px){
    .right img{
        width: 8em;
        margin: auto;
    }
    .firstsec{
        width: 100%;
    }
    .firstsec .left{
        font-size: 50px;
        text-align: center;
    }
}